#logo{
    width: 50px;
    height: 50px;
}
.nav-item:hover {
    background-color: #FDC42D;
}
.jumbotron{
    background-size: cover;
    height: 40vh;
}

#driven{
    font-family: 'Radley', serif;
    font-style: italic;
    color: #FDC42D;
    text-align: right;
    font-size: 1.5em;
}
#about{
    text-align: center;
    padding: 20px;
    width: 230px;
    background-color: #FDC42D;
    color: white;
    font-style: italic;
    font-size: 4em;
}
#projects{
    text-align: center;
    padding: 20px;
    width: 230px;
    font-size: 4em;
    color: #FDC42D;
    text-decoration: underline black;
}
p{
    font-family: "Radley";
    font-size: 16px;
}
#connect{
    background-color: #FDC42D;
}
#connect h1{
    color: black;
    font-family: 'Radley', serif;
    text-align: center;
}
#connect p{
    color:white;
    font-family: "Helvetica";
    text-align: center;
}
#connect .btn{
    text-align: center;
}
#btn-group{
    text-align:center;
}
.icons{
    width:25px;
    height:25px;
}
#footer{
    background-color: grey;
    padding: 20px;
    text-align: right;
    color: white;
    font-size: 1.2em;
}
#footer a{
    color: white;
}
#footer ul{
    list-style: none;
    text-align: right;
}